body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f5f9;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #1e293b;
  margin-bottom: 30px;
}

h2 {
  color: #1e293b;
  margin-bottom: 20px;
}

.formulario {
  background: white;
  padding: 20px;
  border-radius: 12px;
  display: grid;
  gap: 12px;
  margin-bottom: 40px;

  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.formulario input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  font-size: 15px;
}

.formulario button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.lista {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));

  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;

  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.card h3 {
  margin-top: 0;
  color: #0f172a;
}

.btn-editar {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #16a34a;
  color: white;
  cursor: pointer;
}

.btn-eliminar {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #dc2626;
  color: white;
  cursor: pointer;
}